<header>
    <nav>
        <a href="/">Welcome Page</a>
        <ul>
            <li><a href="/users">Users (dev environment only)</a></li>
            <li><a href="/users/home">Home (logged in users only)</a></li>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
        </ul>
    </nav>
</header>